body
{
background-color:#FF4791;
}

.title
{
margin:0;
padding:0;
width:50%;
margin-left:auto;
margin-right:auto;
}

p.titleback
{
font-family:serif;
font-weight:bold;
text-align:center;
font-style:oblique;
font-size:5em; 
margin:0;
padding:0;
color:#FFFFFF;
position:absolute;
top:10px;
left:339px;
z-index:-1;
}

ul.menu
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
margin-left:auto;
margin-right:auto;
width:62.5%;
border:2px solid black;
}

ul.menu li
{
background-color:#E64082;
float:left;
font-weight:bold;
width:20%
}

ul.menu a:link,ul.menu a:visited
{
display:block;
padding:4px;
text-transform:uppercase;
text-decoration:none;
color:#FFFFFF;
text-align:center;
}

ul.menu a:hover,ul.menu a:active
{
text-transform:uppercase;
background-color:#E6005C;
}

input:focus
{
background-color:yellow;
}

div.center
{
margin-left:auto;
margin-right:auto;
width:50%;
}

.search 
{
position:fixed;
top:20px;
float:right;
right:20px
}

.search img
{
height:1.3em;
width:1.3em;
vertical-align:text-top;
}

p.fine
{
font-size:.8em;
text-align:center;
}

.center
{
text-align:center;
}

table.signup
{
margin-left:45%;
}

table.signup td
{
text-align:left;
}

td.right
{
text-align:right;
}

.help
{
color:#FFFFFF;
font-style:italic;
font-weight:bold;
}

.navigation
{
position:fixed;
top:0px;
left:10px;
float:left;
}

.navigation li
{
margin:0;
padding:0;
list-style:none;
position:absolute;
top:0;
}

.navigation li, .navigation a
{
height:30px;
display:block;
}

.navprev
{
left:0px;
width:30px;
background:url("arrows.png") 0 0;
}

.navhome
{
left:40px;
width:30px;
background:url("home.png") 0 0;
}

.navnext
{
left:80px;
width:30px;
background:url("arrows.png") -35px, 0;
}

.nonext
{
left:80px;
width:30px;
background:url("arrowsno.png") -35px, 0;
}
